{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}


<div class="container">
    <div class="row">
        <div class="col-12 m-5">
            <h1 class="d-flex justify-content-center align-items-center font-weight-bold text-dark h1"> PANEL DE ADMINISTRACIÓN DE PEDIDOS</h1>
			<br>
            <div class="container">           
                <table class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th>Estado</th>
                      <th>ID de pedido</th>
                      <th>A nombre de</th>
                      <th>E-mail del cliente</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Entregado</td>
                      <td>37737235</td>
                      <td>Gabriel Jesus</td>
                      <td>grajesu@gmail.com</td>
                      <td><a type="submit" href="" class="btn btn-success ">Cambiar estado</a></td>
                    </tr>
                    <tr>
                      <td>En preparacion</td>
                      <td>357357</td>
                      <td>Jack Grealish</td>
                      <td>jagrea@gmail.com</td>
                      <td><a type="submit" href="" class="btn btn-success ">Cambiar estado</a></td>
                    </tr>
                    <tr>
                      <td>Cancelado</td>
                      <td>7245735</td>
                      <td>Vinicius Junior</td>
                      <td>vinju@gmail.com</td>
                      <td><a type="submit" href="" class="btn btn-success ">Cambiar estado</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
        </div>
    </div>
</div>   


{% endblock %}


{% block js %}

    
{% endblock %}