{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<!-- Start Cart  -->
<div class="cart-box-main">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="table-main table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Imágen</th>
                              <th>Producto</th>
                              <th>Precio</th>
                              <th>Cantidad</th>
                              <th>Total</th>
                              <th>Eliminar</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for aux in carrito %}
                          <tr>
                                <td class="thumbnail-img">
                                    {% if aux.producto.imagen %}
                                        <img class="img-fluid" src="{{ aux.producto.imagen.url }}">
                                    {% else %}
                                        <img class="img-fluid" src="{% static 'core/images/danger.png' %}" >
                                    {% endif %}
                                </td>
                              <td class="name-pr">
                                  <a href="#">{{ aux.producto }}</a>
                              </td>
                              <td class="price-pr">
                                  <p>${{ aux.producto.precio }}</p>
                              </td>
                              <td class="quantity-box ">
                                <p> {{ aux.cantidad }}</p>
                              </td>
                              <td class="total-pr">
                                  <p>{{ aux.cantidad }}</p>
                              </td>
                              <td class="remove-pr">
                                <a onclick="eliminarProductoCarrito({{ aux.id }}); return false;" href="">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <br>
      <div class="row my-5">
          <div class="col-lg-6 col-sm-6">
              <div class="coupon-box">
                  <div class="input-group input-group-sm">
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-sm-6">
              <div class="update-box">
                <div class="col-12 d-flex shopping-box"> <a href="{% url 'shop' %}" class="ml-auto btn hvr-hover">COMPRAR MÁS PRODUCTOS</a> </div>
    
              </div>
          </div>
      </div>
      <div class="row my-5">
          <div class="col-lg-8 col-sm-12"></div>
          <div class="col-lg-4 col-sm-12">
              <div class="order-box">
                  <h3>Orden</h3>
                  <div class="d-flex">
                      <h4>Sub Total</h4>
                      <div class="ml-auto font-weight-bold"> $ 130 </div>
                  </div>
                  <div class="d-flex">
                      <h4>Descuento</h4>
                      <div class="ml-auto font-weight-bold"> $ 40 </div>
                  </div>
                  <hr class="my-1">
                  <div class="d-flex">
                      <h4>Descuento del cupón</h4>
                      <div class="ml-auto font-weight-bold"> $ 10 </div>
                  </div>
                  <div class="d-flex">
                      <h4>Tarifa</h4>
                      <div class="ml-auto font-weight-bold"> $ 2 </div>
                  </div>
                  <div class="d-flex">
                      <h4>Costo de envio</h4>
                      <div class="ml-auto font-weight-bold"> Free </div>
                  </div>
                  <hr>
                  <div class="d-flex gr-total">
                      <h5>Total </h5>
                      <div class="ml-auto h5"> $ {{ valor }} </div>
                  </div>
                  <hr>
          </div>
          <div class="d-flex">
            <div class="ml-auto font-weight-bold "> 
                <div class="col-12 d-flex shopping-box"> <a href="{% url 'checkout' %}" class="ml-auto btn hvr-hover">IR A PAGAR</a> </div>
             </div>
        </div>
      </div>
      
  </div>
  
</div>
<br><br><br><br><br>
<!-- End Cart -->


{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/mensajes.js' %}"></script>

{% endblock %}