{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12 m-5">
            <h1 class="d-flex justify-content-around align-items-center align-self-center font-weight-bold text-dark h1 bonito-minimalista"> HISTORIAL DE COMPRAS </h1>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>N° DE ORDEN</th>
                        <th>PRODUCTOS</th>
                        <th>IMAGEN</th>
                        <th>FECHA DE COMPRA</th>
                        <th>CLIENTE</th>
                        <th>CANTIDAD</th>
                        <th>PRECIO TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for orden in historial %}
                    <tr>
                        <td>{{ orden.numero }}</td>
                        <td class="product-names">
                            {% for producto in ordenes.productos.all %}
                                <p>{{ producto.nombre }}</p>
                            {% endfor %}
                        </td>
                        <td class="product-images">
                            <div class="product-grid">
                                {% for producto in orden.productos.all %}
                                    <div class="product-item">
                                        <div class="image-frame">
                                            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="50" height="50">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                        <td class="text-uppercase">{{ orden.fecha }}</td>
                        <td class="text-uppercase">{{ orden.carrito.usuario }}</td>
                        <td>{{ orden.calcular_cantidad }}</td>
                        {% if user.suscriptor %}
                            <td>{{ orden.calcular_total_suscritor }}</td>
                        {% else %}
                            <td>{{ orden.calcular_total }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  
    </div>
</div>

{% endblock %}

{% block js%}
    
{% endblock %}